<h2 class="text-center">Agent Details</h2>
<p>Agent-manager works!</p>
<div>
<form frm="ngForm" (ngSubmit)="submit (frm.value)">
  <div class="form-group">
    <label for="id">Agent id</label>
    <input type="text" name="id" ng-model requiredclass="form-control">
  </div>
  <div class="form-group">
    <label for="name">Agent name</label>
    <input type="text" name="name" ng-model requiredclass="form-control">
  </div>
  <div class="form-group">
    <label for="location">Agent location</label>
    <input type="text" name="location" ng-model requiredclass="form-control">
  </div>
  <div class="form-group">
    <label for="contact">Agent contact</label>
    <input type="text" name="contact" ng-model requiredclass="form-control">
  </div>
  
    <button type="submit" value="Add" [disabled]="frm.invalid"  >add</button>

</form>
</div>
<h2 class="text-center">Agent Details All</h2>
<div class='form-inline'>
  <label>Search by Name </label>
  <input type="text" [(ngModel)]="queryString" class="glyphicon-search">
</div>
<h3 class="text-center">Agent Details Filtered</h3>
<table class="table table-striped">
  <tr>
    <th>Agent Name</th>
    <th>Location</th>
    <th>contact</th>
  </tr>
  <tr *ngFor="let eachAgent of agentList | filter : 'name' : queryString">
    <td>{{eachAgent.name}}</td>
    <td>{{eachAgent.location}}</td>
    <td>{{eachAgent.contact}}</td>
  </tr>
</table>
<!--
<h3 class="text-center">Agent Details All</h3>
<table class="table table-striped">
  <tr>
    <th>Agent Name</th>
    <th>Location</th>
    <th>contact</th>
  </tr>
  <tr *ngFor="let eachAgent of agentList">
    
    <td>{{eachAgent.name}}</td>
    <td>{{eachAgent.location}}</td>
    <td>{{eachAgent.contact}}</td>
  </tr>
</table>
-->
